.b{
    background-image:url(im/manga\ baner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
   background-size: cover;
   

}
.table-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
}

.table {
    background-color: rgb(28, 27, 27);
    border-collapse: collapse;
    margin: 10px;
    text-align: center;
    width: auto;
}

.table th {
    background-color: rgb(28, 27, 27);
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
}

.table th a {
    color: white;
    text-decoration: none;
}

.table th a:hover {
    text-decoration: underline;
}

.im {
    width: 250px;
    height: 300px;
    border: 2px solid rgb(158, 237, 244);
    display: block;
    margin: 30px auto;
}

.d1 {
    text-align: center;
    margin-top: 20px;
}






   
  
  

